@import url("https://fonts.googleapis.com/css?family=Poppins:400");

:root {
  --bg--color: white;
  --active--color: #10ddc2af;
}

/* ===========TEXT STYLING============================ */
body {
  font-size: 100%;
  margin: 0;
} /*16px*/

body {
  background: white;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.75;
  color: #000000;
}

p {
  margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 3rem 0 1.38rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.3;
}

h1 {
  margin-top: 0;
  margin-left: 0.2%;
  font-size: 3.052rem;
}

h2 {
  font-size: 2.441rem;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
}

h5 {
  font-size: 1.25rem;
}

h2,
h3,
h4 {
  text-transform: uppercase;
  color: #15b7b9;
}
small,
.text_small {
  font-size: 0.8rem;
}

/*=====================LAYOUT=================== */
main {
  margin: 150px auto;
  width: 80%;
  max-width: 1600px;
  min-width: 200px;
}

.img-left {
  float: left;
  padding: 0 1rem 0 0;
}

.img-right {
  float: right;
  padding: 0 0 0 1em;
}
.clear-float::after {
  clear: both;
  display: table;
  content: "";
}

.row {
  display: flex;
  justify-content: space-around;
  align-content: flex-end;
}

/* ==============HEADER, FOOTER================== */

header,
footer {
  background: url(./background-image.jpg);
  background-size: 100%;
  background-color: var(--bg--color);
  background-repeat: no-repeat;
  color: #f5f5f5;
  background-position: center center;
  height: 800px;
}
header section {
  display: flex;
}
.logo {
  padding: 1.5% 0 0 2%;
} 
/* ======NAVIGATION====================== */


.navigation ul {
  list-style: none;
  text-transform: uppercase;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: #15b7b9;
}
header .navigation {
  text-align: center;
}
.navigation a {
  color: #f5f5f5;
  letter-spacing: 0.2rem;
}
.navigation a:hover {
  color: #15b7b9;
  letter-spacing: 0.3rem;
}
li.active > a {
  color: var(--active--color);
}
li:hover ul {
  display: block;
}

.navigation li {
  position: relative;
}
nav > ul {
  display: flex;
  justify-content: space-around;
}
nav > ul {
  padding-left: 230px;
}

ul {
  padding-left: 0;
}
.navigation ul ul {
  display: none;
  text-align: start;
  position: absolute;
  font-size: 0.8rem;
  line-height: 2.5rem;
  margin: 10px 0 0 10px;
}

/* =================SIDEBAR======================= */

.sidebar ul {
  list-style: none;
}
.sidebar img {
  width: 200px;
}
.sidebar {
  text-align: center;
}

/* ================MEDIA QUERIES================== */

@media print {
  nav,
  .sidebar,
  footer {
    display: none;
  }
  header {
    height: 80px;
  }
  main {
    margin: 0;
  }
}
